// Pick a date
@import '~pickadate/lib/themes/default.css';
@import '~pickadate/lib/themes/default.date.css';

h1,
h2,
h3,
h4 {
    margin-top: 20px !important;
}

.white-text {
    color: white !important;
}

.body__content {
    margin-top: 50px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    padding: 30px !important;
}

.bg-teal {
    background-color: #2BBBAD !important;
}

.bg-legendary {
    background-color: #ffc15e !important;
    color: white;
}

.bg-epic {
    background-color: #8158fc !important;
    color: white;
}

.bg-rare {
    background-color: #207dff !important;
    color: white;
}

.myCard {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}



.slide-image {
    object-fit: cover !important;
    width: 100%;
    height: 550px;
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pledges-container {
    margin-top: 20px;
    width: 100%;
}

.card-deck .card {
    min-width: 220px;
}



.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-horizontal img {
    height: 180px;
}

.text-bold {
    font-weight: bold;
}

h3 {
    text-transform: capitalize;
}

@media (max-width:576px) {


    .slide-image {
        object-fit: cover !important;
        width: 100%;
        height: 200px;
    }
}



@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .slide-image {
        object-fit: cover !important;
        width: 100%;
        height: 350px;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .slide-image {
        object-fit: cover !important;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .slide-image {
        object-fit: cover !important;
        width: 100%;
        height: 550px;

    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1260px !important;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
